@import '~styles/common.scss';

.card {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1.8px solid #A5A5A5;
  box-shadow: 2px 1px 4px rgba(#A5A5A5, 0.25), 1px 2px 8px rgba(#A5A5A5, 0.1);
  border-radius: 16px;
  padding: 12px;
  height: 92px;
}

.mood {
  width: 64px;
  margin-right: 12px;  
}

.text {
  margin: 8px 0;
}

.time {
  display: block;
  font-size: 1.6rem;
}

.tag {
  display: inline-block;
  padding: 2px 4px;

  &:not(:last-child) {
    margin-right: 4px;
  }
};
