@import '~styles/common.scss';

.form {
  display: flex;
  flex-direction: column;

  &Field {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
}

.error {
  font-size: 1.2rem;
  margin: 20px 0 0 8px;
  color: red;

  &[hidden] {
    opacity: 0;
  }
}

.footer {
  margin: 64px auto 0;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
}

.forgotPassword {
  margin-top: 16px;
}

.reminder {
  margin-top: 64px;
}