@import '~styles/common.scss';

$categories: (
  work: #9BDBF7,
  home: #FEDEA3,
  social: #FAB9D0,
  ability: #FAC696,
  mentality: #74E8E8,
  body: #9BF7D6,
  financial: #BAB9FB,
  achievement: #FF9999
);

.main {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;

  @include media(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @include media(landscape) {
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
  }
}

.card {
  display: inline-flex;
  align-content: center;
  border: 1.6px solid #3a3a3a;
  border-radius: 20px;
  padding: 12px;
  height: 92px;
}

.mood {
  width: 64px;
  margin-right: 12px;
}

.time {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 4px;
}

.tag {
  display: inline-block;
  padding: 2px 4px;
  font-size: 1.2rem;
  letter-space: 0.4rem;

  @each $category, $color in $categories {
    &[data-label=#{$category}] {
      background-color: $color;
    }
  
  }

  &:not(:last-child) {
    margin-right: 4px;
  }
};
