.button {
  width: 160px;
  height: 48px;
  font-size: 1.6rem;
  border: 1px solid #3a3a3a;
  border-radius: 24px;
  text-align: center;
};

.dark {
  background-color: #3a3a3a;
  color: #ffffff;
}

.light {
  background-color: #ffffff;
}

.fullwidth {
  width: 100%;
}

.sm {
  width: 120px;
}

.md {
  width: 160px;
}
