@import '~styles/common.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 12px 24px;
  margin: auto;
  border-radius: 8px;
  border: 2px solid transparent;

  @include media(landscape) {
    min-height: 600px;
    border-color: color(gray-dark);
  }
}

.header {
  position: relative;
  margin: 24px 0;
  display: flex;
  justify-content: center;
};

.closeButton {
  position: absolute;
  top: -12px;
  left: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  &Icon {
    width: 20px;
  }
}

.logo {
  width: 276px;
}

.main {
  position: relative;
  margin: 24px 0;
  align-self: center;
}