@import '~styles/common.scss';

.sectionLayout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-block-end: 24px;
  gap: 12px;
}

.title {
  margin: 0;
  font-weight: 400;
}


.main {
  position: relative;
  margin: 36px 0 24px;
  align-self: center;
  width: min(800px, 100%);
}

.title {
  margin: 0 0 12px;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
};

.mood {
  @extend.sectionLayout;

  &Button {
    padding: 8px 0;
    transition: .1s;
    will-change: opacity;

    &.unselected {
      opacity: 0.6;
    }
    
    &Icon {
      width: 54px;

      @include media(tablet) {
        width: 72px;
      }
    }
  }
}

.category {
  @extend.sectionLayout;

  &Rest {
    font-size: 1.2rem;
  }

  &Label {
    margin: 32px 0 24px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
  }

  &Item {
    width: 54px;
    height: 100%;
    padding: 4px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    will-change: border-color;

    &:focus {
      border-color: transparent;
    }

    &.selected {
      border-color: rgba(0, 0, 0, .4);
    }
  }

  &Button {
    font-size: 1.6rem;

    &Icon {
      font-size: 2.4rem;
    }
  }
}

.notes {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin-top: 48px;
}

.textarea {
  height: 100px;
  width: 100%;
  padding: 12px;
  border: 1px solid #9CABC2;
  border-radius: 8px;
  resize: none;
}
