@import '~styles/common.scss';

.iconButton {
  $self: &;

  position: relative;

  border-radius: 50%;
  border: 1.2px solid transparent;

  &.sm {
    width: 32px;
    height: 32px;

    > #{$self}Image {
      width: 20px;
    }
  }

  &.md {
    width: 36px;
    height: 36px;
  }

  &::before {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: color(gray-light);
    will-change: opacity;
    transition: .3s;
  }

  &:hover {
    &::before {
      opacity: 0.36;
    }
  }

  &:focus {
    outline: 0;
    border-color: color(gray-dark);
  }

  &Image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
};
