@import '~styles/common.scss';

html,
body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang TC, 
  Microsoft JhengHei, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,sans-serif;
}


html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

:root {
  --overflow: scroll;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  padding: 16px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  color: color(black);
  overflow: var(--overflow);

  @include media(tablet) {
    max-width: 500px;
  }

  @include media(landscape) {
    max-width: 750px;
  }
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}


button {
  appearance: none;
  border: none;
  background-color: transparent;
}