html,
body {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang TC, 
  Microsoft JhengHei, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,sans-serif;
}


html {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  padding: 16px;
  width: 90%;
  max-width: 400px;
  margin: auto;
  color: color(black);

@media screen and (min-width: 600px) {
  body {
    max-width: 500px;
  }
}

@media screen and (min-width: 900px) {
  body {
    max-width: 750px;
  }
}


a {
  color: inherit;
}

* {
  box-sizing: border-box;
}


button {
  appearance: none;
  border: none;
  background-color: transparent;
}