@import '~styles/common.scss';

.menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  &Option {
    position: absolute;
    width: 80px;
    right: 0;
    background-color: white;
    border: 1px solid color(placeholder);
    border-radius: 4px;
    overflow: hidden;
    // opacity: 0;

    // &.expanded {
    //   opacity: 1;
    // }

    &Button {
      font-size: 1.4rem;
      height: 36px;
      border-color: transparent;
      border-radius: 0;
    }
  }
}